@media (min-width:2000px) and (max-width: 5000px) {
    
    .welcome h1 {
        font-size: 4.5em;
        padding-right: 35%;
    }

    .welcome p {
        font-size: 1.2rem;
        line-height: 125%;
    }

    .welcome h2 {
        font-size: 3em;
        margin-bottom: 5%;
    }

    
    .form-1 input, .form-2 input {
        padding: 5%;
    }

    .botao-login button {
        padding: 5%;
        font-size: 1.5em;
    }

    i {
        transform: scale(1.5);
    }
    
    .hora h1 {
        font-size: 7em;
    }

    .hora h6 {
        font-size: 0.8em;
    }

    .clima h5 {
        display: flex;
        justify-content: flex-end;
        font-size: 0.80em;
    }
    
    .container-img img {
        width: auto;
        height: 30%;
        margin-top: 10%;
    }
    
    .container-temp {
        display: flex;
        font-weight: bold;
        font-size: 2.8em;
    }
    
    
    .missao {
        height: calc(70vh + 6px);
        padding-right: 10%;
    }
    
    .missao h2 {
        color: #C12D18;
        font-size: 4.5em;
    }
    
    .missao p {
        color: #222222;
        font-size: 2.0em;
    }

    .mensagem p {
        width: 65%;
        font-size: 1.0em;
        padding-right: 2%;
        padding: 1% 0;
    }

    .footer {
        height: 10vh;
    }

    .timer {
        padding-left: 5%;
        padding-right: 10%;
    }

    .cronometro {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cronometro p {
        width: 15%;     
    }

    .login {
        display: flex;
        justify-self: center; 
        justify-content: flex-end;
        width: 25%;
    }

    .continuar {
        width: 40%;
    }
    
    .continuar button{
        width: 100%;
        padding: 20%;
        font-size: 1em;
    }
    
    .logout {
        width: 40%;
    }
    
    .logout button{
        width: 100%;
        font-size: 1.2em;
    
    } 
}