@media (min-width: 1350px) and (max-width: 1599px) {

    .hora h1 {
        font-size: 5.0em;
    }

    .hora h6 {
        font-size: 0.55em;
        display: flex;
        justify-content: space-between;
    }

    .missao {
        padding-right: 10%;
        height: calc(67vh + 1px);
    }

    .missao h2 {
        font-size: 3em;
    }

    .footer {
        height: 13vh;
    }

    .mensagem p {
        width: 75%;
    }
}