
@media (min-width: 1500px) {
    .welcome h1 {
        font-size: 4em;
        padding-right: 35%;
    }

    .welcome p {
        font-size: 1.3rem;
        line-height: 125%;
    }

    .welcome h2 {
        font-size: 3em;
        margin-bottom: 5%;
    }

    
    .form-1 input, .form-2 input {
        padding: 5%;
    }

    .botao-login button {
        padding: 5%;
        font-size: 1.5em;
    }

    i {
        transform: scale(1.5);
    }
}

@media (max-width: 100px) {
    .segunda-pagina {
        height: 100vh;
    }
    
    .missao h3 {
        color: #C12D18;
        font-size: 2.25em;
    }
    
    .missao h2 {
        color: #C12D18;
        font-size: 4.5em;
    }
    
    .missao h6 {
        color: #222222;
        font-size: 1.5em;
    }

    .mensagem p {
        width: 45%;
        font-size: 0.75em;
        padding: 2% 0;
    }

    .footer {
        height: 10vh;
    }

    .timer {
        padding-left: 5%;
        padding-right: 10%;
    }

    .cronometro p {
        width: 15%;     
    }

    .login {
        display: flex;
        justify-self: center; 
        justify-content: flex-end;
        width: 15%;
    }

    .continuar {
        width: 40%;
    }
    
    .continuar button{
        width: 100%;
        padding: 20%;
        font-size: 0.8em;
    }
    
    .logout {
        width: 40%;
    }
    
    .logout button{
        width: 100%;
    
    } 
}