.missao {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 65vh;
    padding-right: 3.5%;
}

.missao h2 {
    color: #C12D18;
    font-size: 2.5em;
}

.missao p {
    color: #222222;
    font-size: 1.20em;

}