#main-login-page {
    display: flex;
    flex-direction: row;
}

#main-login-page {
    display: flex;
    flex-direction: row;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3em;
    width: 100%;
background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.welcome h1 {
    font-size: 3.5em;
    font-weight: 400;
    padding-right: 30%;
    
}

.welcome p {
    width: 45%;
    font-size: 0.8em;
    margin-top: 5%;
    margin-bottom: 15%;
}

.welcome h2 {
    font-weight: 400;
    font-size: 1.875em;
    margin-bottom: 3%;
    padding-right: 35%;
}